<% form_tag(nil) do %>
Ad category:
<select id="ad_category" name="ad_category">
  <option value="rr_sale">Residential Realty for sale</option>
  <option value="rr_rent">Residential Realty for rent</option>
</select>
<%= submit_tag "Submit" %>
<% end %>