Email this Residential Realty for sale to a friend:
<%= render :partial=>'square', :locals=>{ :rr_sale=>@rr_sale, :listview=>false } %>
<%= render :partial=>'widgets/email' %>
<%= link_to 'Back',@rr_sale %>